<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="contenu-form">
            <h1>Stay updated</h1>
            <p>Join 60,000+,product managers receiving mothly updates on:</p>
            <ul>
                <li><img src="/images/icon-list.svg" alt=""><small>Product discovery and building what matters</small></li>
                <li><img src="/images/icon-list.svg" alt=""><small>Measuring to ensure updates are asucess</small></li>
                <li><img src="/images/icon-list.svg" alt=""><small>And musch more!</small></li>
            </ul>
            <form action="" method="post">
                <label for="">Email address</label>
                <input type="email" placeholder="Enter your email">
                <input type="submit" value="Subcribe to monthly newsletter">
            </form>
        </div>
        <div class="conetu-image">
            <img src="" alt="" srcset="">
        </div>
    </div>
    <script src="/script.js"></script>
</body>
</html>