<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container-2">
       <div class="center">
            <img src="/images/icon-success.svg" alt="" srcset="">
            <h1>Thanks for <br> subscribing!</h1>
            <p class="p">A confirmation email has been send to <br> <strong>monemail@gmail.com</strong>.Please open it and click <br> the button inside to confirm your subscription</p>
            <form action="" method="post">
                <input type="submit" value="Dismiss message" id="input-2">
            </form>
       </div>
    </div>
</body>
</html>