@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,500;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #36384d;
}
.container{
    background-color: #fff;
    margin: 0 auto;
    width: 61%;
    padding: 15px;
    border-radius: 25px;
    position: relative;
    top: 25px;
    display: flex;
}
.container .contenu-form{
    padding: 7% 5%;
    width: 55%;
    /* border: 5px solid #262a45; */
    height: 60%;
}
h1{
    color:#262a45 ;
    font-size: 51px;
    text-transform: capitalize;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.8);
    margin-bottom: 16px;
    font-family: "Roboto";
}
p{
    font-size: 18px;
}
label{
   font-weight: bold;
   text-transform: capitalize;
   position: relative;
   bottom: 9px;
}
ul{
    margin: 30px 0 45px 0;
}
li{
    margin-bottom: 15px;
    width: 80%;
}
li .small{
    font-size: 17px;
    position: relative;
    top: -5px;
    left: 10px;
    color: rgba(0, 0, 0, 0.8);
}
/*Style des liste*/
li{
    list-style: none;
}
input{
    display: block;
    padding: 14px;
    width: 80%;
    border-radius: 8px;
    margin-bottom: 28px;
    border: 2px solid #000;
}
input[type="submit"]{
    background-color: #262a45; 
   color: #fff;
   font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 0;
    border:none;
}
input[type="submit"]:hover{
    background: linear-gradient(to right, #ff5476, #ff673e);
 }
 img{
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
   
 }
 /*STYLE CONFIRMATION*/
 .container-2{
    background-color: #fff;
    margin: 0 auto;
    width: 29%;
    padding: 15px;
    border-radius: 25px;
    position: relative;
    top: 70px;
    display: flex;
 }
 .center{
    display: block;
    padding:5% ;
 }
 .center h1{
    font-weight: 900;
    font-family: "Roboto";
 }
 .center .p{
    margin-bottom: 25px;
    line-height: 28px;
    color: #000;
 }

 .center img{
    margin-bottom: 25px;
 }
 #input-2{
    width: 100%;
    background-color: #262a45;
 }
 #input-2:hover {
    background: linear-gradient(to right, #ff5476, #ff673e);
}

/*RESPONSIBLE index*/
/* tablette*/
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column; /* Change l'ordre d'apparition */
    }

    .contenu-image {
        order: 1; 
        
    }
    .contenu-image img {
        width: 100%;
       
    }

    .contenu-form {
        order: 2;
        width: 100%;
    }

    h1 {
        /* font-size: 20px; */
        width: 53vw;
    }

    ul li {
        width: 50vw;
    }

    p {
        width: 50vw;
    }

    input {
        width: 50vw;
    }
}


/* Styles pour les écrans de petite taille (mobiles) */
@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column; /* Change l'ordre d'apparition */
    }

    .contenu-image {
        order: 1; 
        
    }
    .contenu-image img {
        width: 100%;
        padding-left: 10px;
    }

    .contenu-form {
        order: 2;
        width: 100%;
    }

    h1 {
        /* font-size: 20px; */
        width: 53vw;
    }

    ul li {
        width: 50vw;
    }

    p {
        width: 50vw;
    }

    input {
        width: 50vw;
    }
}
/*RESPOSIBLE INDEX2*/

 /* tablette*/
@media (max-width: 1200px) {
    .center h1{
        font-size: 40px;
    }
    form{
        margin-top: 35%;
    }

}

@media (max-width: 600px) {
    .center h1{
        font-size: 40px;
    }
    form{
        margin-top: 35%;
    }

}

/* Styles pour les écrans de petite taille (mobiles) */
/* @media (max-width: 600px) {
  

    h1 {
        font-size: 30px;
        width: 53vw;
    }

    ul li {
        width: 30vw;
    }

    p {
        width: 30vw;
        font-size: 15px;
    }

}



 
  */
